table {

  &.sync-status {

    .archived {
      opacity: 0.5;
    }

    .dashicons-yes-alt { color:#46b450; }

    .dashicons-warning { color:#ffb900; }

    .spinner.is-active {
      float:none;
      margin:0;
    }

  }
  
}
